* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 20px;
    color: var(--color-white);
    /*cor de todas as fontes que não tiverem atributo de cor própria*/
}

:root {
    --color-white: #fff;
    --color-dark1: #272727;
    --color-dark2: #2d2d2d;
    --color-dark3: #414141;
    --color-dark4: #1c1c1c;
    --color-dark5: #343434;
    --color-green1: #2797c2;
    --color-green2: #1e7fa7;
    ;
}

/*////////////////////cabeçalho////////////////////*/
.header_bar {
    background-color: var(--color-green1);
    height: 56px;
    /*ou (3.5em = 3,5 x 16) = 56px*/
    text-align: center;
    display: flex;
    /*deixa um bloco ao lado do outro*/
    /*flex-direction: column; deixa um elemento em baixo do outro em formato de coluna*/
    flex-direction: row;
    /*deixa um elemento ao lado do outro linha (vem por default)*/
    align-items: center;
    justify-content: space-between;
    /*distancia entre os blocos, sempre ao extremo*/
    padding: 0 10%;
    /* espaçamentos apenas na direit/esquerda*/
}

.header_bar h1 {
    font-size: 20px;
    width: 200px;
}

.nav_header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3em;
}

.nav_header a {
    text-decoration: none;
    color: var(--color-white);
    transition: 1s;
    font-weight: bold;
}

.nav_header a:hover {
    color: var(--color-green1);
    transition: 1s;
}

/*aqui deve ser feito posteriormente com JS*/
.active {
    background-color: var(--color-green2);
    padding: 10px;
    border-radius: 10px;
}

.btn_icon_header {
    background-color: transparent;
    border: none;
    color: var(--color-white);
    cursor: pointer;
    display: none;
}

.container {
    background-color: var(--color-dark1);
    min-height: 60vh;
    padding: 20px;
    transition: 1s;
}

.bold {
    font-weight: bold;
}

/*////////////////////sessão 1////////////////////*/
/*Header*/
.description_top {
    max-width: 1200px;
    height: auto;
    /* alterado para altura automática */
    margin: 0 auto;
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
    background-color: #1b1b1b;
    /* Cor de fundo de backup */
}

/*
.img_back {
     Adicione regras de estilo específicas para os cartões, se necessário 
}
*/
.img_1 {
    width: 280px;
    /* largura desejada */
    height: 210px;
    /* altura desejada */
    object-fit: cover;
    /* mantém a proporção e corta a imagem se necessário */
}

.text_top {
    float: right;
    /* alinhar à direita */
    width: calc(100% - 370px);
    /* ajusta o tamanho para acomodar a imagem */
    padding: 0px;
    margin: 10px;
    /* espaçamento interno para separar do lado direito */
}

.text_top h1 {
    font-size: 30px;
    margin-bottom: 10px;
}

.text_top p {
    font-size: 15px;
    margin-bottom: 10px;
    padding-right: 20px;
}

/*fHeader*/
/*FORM*/
.form_main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 10px 50px 10px;
    background-color: #1b1b1b;
    text-align: left;
    /* Cor de fundo de backup */
}

.form_main h3 {
    font-size: 30px;
    padding: 30px 0px 10px 15px;

}

.campo-tipo1 {
    color: var(--color-dark2);
    font-size: 25px;
    height: 40px;
    width: 250px;
    padding: 0 10px;
    text-align: left;
    margin-left: 15px;
}

#horaAlmoco {
    text-align: center;
}

.campo_entrada,
.campo_saida {
    font-size: 25px;
    width: 150px;
    height: 40px;
    padding: 0 10px;
    text-align: center;
    margin: 15px;
    color: var(--color-dark2);
}

.listaFuncionarios {
    margin-top: 20px;
    background-color: var(--color-dark2);
    padding: 10px;
}

.funcionarios {
    display: grid;
    text-align: center;
}

#registrarBtn3 {
    margin: 0px 10px 10px 0px;
}

.headInfoFuncionarios {
    background-color: #1b1b1b;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    padding-right: 210px;
}

.headInfoFuncionarios p {
    color: #f0f0f0;
    font-weight: bold;
    text-align: left;
    font-size: 20px;
    margin: 15px;
}

.infoFuncionarios {
    background-color: #f0f0f0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.funcionarios p {
    color: #1b1b1b;
    font-weight: bold;
    text-align: left;
    font-size: 25px;
    margin: 15px;
}

.infoFuncionarios a {
    color: #1b1b1b;
    width: 65px;
    height: 15px;
    /*padding-top: 20px;*/
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 15px;
    margin-inline-end: 15px;
    text-decoration: none;
    /* Adicione sublinhado aos links, por exemplo */
}

.infoFuncionarios a:hover {
    /* Adicione estilos para os links quando o mouse passar por cima */
    text-decoration: underline;
}

.campo_output {
    background-color: var(--color-white);
    color: #1b1b1b;
    font-size: 25px;
    width: 150px;
    height: 40px;
    padding: 6px 0px 0px 10px;
    margin: 15px;
}

label[for^="entrada"] {
    margin: 10px;
    /* Outros estilos desejados */
}

.campo_entrada {
    margin: 0px 200px 0px 0px;
    /* Adiciona margem apenas ao campo de entrada */
}

.campo_saida {
    margin: 0px 0px 0px 0px;
    /* Adiciona margem apenas ao campo de entrada */
}

.selecao_dias {
    margin-top: 40px;
    text-align: center;
    flex-direction: row;
    align-items: center;
}

.selecao_dias a {
    text-decoration: none;
    margin: 20px;
    color: var(--color-white);
    transition: 1s;
    font-weight: bold;
}

.selecao_dias a:hover {
    color: var(--color-green1);
    transition: 1s;
}

.dias_semana_campos {
    display: none;
    /* Inicia oculto */
    text-align: center;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10px 0 15px;
}

.dias_semana_campos.active {
    display: flex;
    background-color: transparent;
}

.dias {
    text-align: left;
    width: 120px;
    font-size: 30px;

}

.dias_semana_campos.active {
    display: block;
}


.campo_entrada::placeholder,
.campo_saida::placeholder {
    opacity: 0.8;
}

/* Mostra quando a classe active está presente */
/*////////////////////primeiro carrossel////////////////////*/
.slider_escalas {
    display: flex;
    /*uma opção fica ao lado da outra*/
    width: 100%;
    min-height: 100px;
    align-items: center;
    justify-content: center;
    gap: 7em;
    /*distância dos botões das imagens*/
}

.container_opcoes {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10px;
    /*transition: transform 0.5s ease;*/
}

/*svg*/
.slide_escala {
    text-align: center;
    opacity: 0;
    transition: opacity .2s;
    position: absolute;
    /*width: 100%; para img*/
    font-size: 40px;
}

.on {
    opacity: 1;
}

#prev_btn,
#next_btn {
    width: 70px;
    height: 70px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

#prev_btn svg,
#next_btn svg {
    width: 100%;
    height: 100%;
}

/*campo1*/
.div-campo1 {
    display: flex;
}

.btn {
    display: block;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    background-color: var(--color-green1);
    height: 40px;
    border-radius: 5px;
    padding: 0 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: 0.5s;
    margin-left: 15px;
    border: 0px solid;
}

#registrarBtn2 {
    display: none;
}

.btn:hover {
    background-color: var(--color-green2);
}



footer {
    background-color: var(--color-green1);
    text-align: center;
    padding: 80px;
    /* Adicione regras de estilo específicas para o rodapé, se necessário */
}

/* Tablet */
@media (max-width: 1000px) {
    .container {
        padding: 0px;
    }

    .btn {
        margin-bottom: 40px;
    }

    footer {
        padding: 40px;
    }
}


/* Smartphone */
@media (max-width: 640px) {
    .nav_header {
        position: absolute;
        flex-direction: column;
        top: 0;
        background-color: var(--color-dark5);
        height: 100%;
        width: 35vw;
        padding: 1em;
        animation-duration: 1s;
        margin-left: -100vw;
        z-index: 2;
    }

    @keyframes showSidebar {
        from {
            margin-left: -100vw;
        }

        top {
            margin-left: -10vw;
        }
    }

    .btn_icon_header {
        display: block;
    }

    .btn {
        margin-bottom: 40px;
    }

    .container {
        padding: 0px;
    }

    /*///////*/
    /*/S01/*/
    .description_top {
        max-width: 100%;
        /* alterado para 100% para garantir responsividade */
        height: auto;
        margin: 0 auto;
        padding: 10px;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        /* alterado para coluna para colocar a imagem em cima e o texto embaixo */
        background-color: #1b1b1b;
        /* Cor de fundo de backup */
    }

    .img_1 {
        width: 100%;
        /* ajustado para ocupar a largura completa do contêiner pai */
        height: auto;
        /* ajustado para altura automática para manter a proporção */
    }

    .text_top {
        width: 100%;
        /* ocupar a largura completa do contêiner pai */
        margin: 10px;
        /* espaçamento interno para separar o conteúdo */
        box-sizing: border-box;
        /* incluir padding na largura total */
    }

    .text_top h1 {
        font-size: 24px;
        /* ajustado o tamanho da fonte para telas menores */
        margin-bottom: 10px;
    }

    .text_top p {
        font-size: 14px;
        /* ajustado o tamanho da fonte para telas menores */
        margin-bottom: 10px;
    }

    /*/FS01/*/
    /*/S02/*/
    .form_main h3 {
        font-size: 20px;
    }

    .campo-tipo1 {
        font-size: 20px;
        height: 40px;
        width: 155px;
        padding: 0 10px;
        text-align: left;
        margin-left: 10px;
    }

    /*/FS02/*/

    /*/S03/*/
    .slider_escalas {
        display: flex;
        /*uma opção fica ao lado da outra*/
        width: 100%;
        min-height: 70px;
        align-items: center;
        justify-content: center;
        gap: 5em;
        /*distância dos botões das imagens*/
    }

    #prev_btn,
    #next_btn {
        width: 50px;
        height: 50px;
        border: none;
        background-color: transparent;
        cursor: pointer;
    }

    #prev_btn svg,
    #next_btn svg {
        width: 100%;
        height: 100%;
    }

    .container_opcoes {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 10px;
        /*transition: transform 0.5s ease;*/
    }

    /*svg*/
    .slide_escala {
        text-align: center;
        /*opacity: 0;*/
        transition: opacity .2s;
        position: absolute;
        /*width: 100%; para img*/
        font-size: 30px;
    }

    /*/FS03/*/
    /*/S04/*/
    .selecao_dias {
        margin-top: 15px;
        line-height: 50px;
        text-align: center;
        flex-direction: row;
        align-items: center;
    }

    .selecao_dias a {
        text-decoration: none;
        color: var(--color-white);
        transition: 1s;
        font-weight: bold;
    }

    /*/FS04/*/
    /*/S05/*/
    .dias_semana_campos {

        flex-direction: column;
        padding: 0px;
        margin: 20px;
    }

    .dias {
        font-size: 25px;
        margin-bottom: 10px;
        /* Adiciona um espaço abaixo da div "Domingo" */
    }

    .horarios {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 10px;
    }

    .campo_entrada,
    .campo_saida {
        font-size: 25px;
        width: 150px;
        height: 40px;
        padding: 0 10px;
        margin: 0px 0px;
        color: var(--color-dark2);
    }



    #registrarBtn2 {
        margin: 40px 0px 40px 15px;
    }

    /*/FS05/*/
    /*/S06/*/
    #registrarBtn3 {
        margin: 0px 0px 20px 5px;
    }

    .headInfoFuncionarios p {
        text-align: center;
        font-size: 15px;
        margin: 15px;
    }

    /**/
    .funcionarios p {
        align-items: center;
        text-align: left;
        font-size: 25px;
        margin: 10px 10px 0px 10px;
    }

    .funcionarios a {
        background-color: #1e7fa7;
        color: var(--color-white);
        border-radius: 12px;
        width: 80px;
        height: 25px;
        margin: 10px 10px 10px 10px;
    }

    .infoFuncionarios {
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    /*/FS06/*/
    /*///////*/
    footer {
        padding: 40px;
    }
}

/* Smartwatch*/
@media (max-width: 260px) {
    header {
        padding: 5px;
        text-align: center;
        border-bottom: 2px solid #0f642f;
    }

    header h1 {
        font-size: 5px;
    }

    .nav_header {
        height: 300px;
        width: 60vw;
    }

    .btn {
        margin-bottom: 20px;
        padding: 7px 0px 5px 0px;
    }

    .container {
        padding: 0px;
    }

    footer {
        padding: 20px;
    }
}