html,
body {
  height: 100%;
  margin: 0;
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #d3d3d3;
  font-family: 'Nunito Sans', sans-serif;
  width: 100%; /* Defina a largura do corpo como 100% */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

button {
  cursor: pointer;
}

button:active {
  opacity: 0.8;
}

button[disabled] {
  opacity: 0.8;
}

.clear {
  background: transparent;
  border: none;
  color: white;
}

.solid {
  background: white;
  border: none;
  color: rgb(45, 211, 111);
}

.outline {
  text-decoration: none;
  background: transparent;
  color: white;
  cursor: pointer;
}

.error {
  display: none;
  width: 100%;
  margin-top: 0.25rem;
  margin-bottom: 20px;
  font-size: 80%;
  color: #dc3545;
}

#toast-error {
  display: none;
  margin-left: 230px;
  margin-bottom: 30px;
  margin-top: 0px;
  width: 220px;
  /* Ajuste a largura conforme necessário */
  height: 40px;
  /* Defina a altura desejada */
  background-color: #f44336;
  /* Cor de fundo do alerta */
  color: #fff;
  /* Cor do texto do alerta */
  border-radius: 0.3rem;
  padding: 10px 10px 0px 10px;
  box-sizing: border-box;
  z-index: 1000;
  /* Certifique-se de que a z-index seja maior do que outros elementos, se necessário */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

#toast-error .toast-body {
  margin: 0;
  padding: 0;
}

#toast-error p {
  margin: 0;
}


/**/

.container {
  max-width: 100%; /* Ajustado para não ultrapassar a largura da tela */
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  border-radius: 12px;
  background-color: #f0f0f0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
}

.container form .clear a {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin-left: 300px;
  cursor: pointer;
  text-decoration: none;
  color: #008380;
}

.container form .clear a:hover {
  text-decoration: underline;
  /* Adiciona sublinhado no hover */
}

.container .header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.container .header span {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin-right: 20px;
}

.container .header .logoImg {
  width: 50px;
  height: 50px;
  background-size: cover;
  margin-right: 20px;
}

.container form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container form .inputContainer {
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.container form .inputContainer label {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 8px;
}

.container form .inputContainer input {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0.6rem 1rem !important;
  width: 418px;
  height: 30px;
  border-radius: 0.3rem;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.1rem;
  line-height: 1.3;
  border: 0.7px solid #c9ced4;
  /* Cor padrão da borda */
  transition: border 0.3s ease-in-out;
  /* Adiciona uma transição suave para a mudança de borda */
}

.container form .inputContainer input:focus {
  border-color: rgba(0, 131, 128, 0.5);
  /* Bordas com opacidade na metade */
  outline: none;
  /* Remove a borda padrão do navegador */
  box-shadow: 0 0 5px rgba(0, 131, 128, 0.5);
  /* Adiciona uma sombra suave quando focado */
}

#icon {
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  opacity: 0.5;
  right: 10px;
  /* ou ajuste conforme necessário */
  background: url('/hrtool/img/eyeSps');
  background-size: cover;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

#icon.hider {
  background: url('/hrtool/img/eyeHps.png');
  background-size: cover;
}

.container form a {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  padding-top: 16px;
  padding-bottom: 16px;
  color: #5C73DB;
}

.container form .button {
  width: 450px;
  height: 48px;
  background: #008380;
  border-radius: 12px;
  color: #fff;
  border: none;
  font-size: 18px;
  line-height: 22px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.container form .button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.container form .footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-decoration: none;
}

.container form .footer p {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.container form .footer a {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #008380;
}

.container form .footer a:hover {
  text-decoration: underline;
  /* Adiciona sublinhado no hover */
}

/*invalid email/senha*/
.alert p:last-child {
  margin-bottom: 0
}

#toast-error {
  background-color: #e74c3c
}

.toast p {
  color: #fff;
  font-size: 15px;
  font-weight: 700
}